.THIS {
    border: 1px solid rgb(216, 221, 230);
    border-radius: 0.25rem;
    padding: 1rem;
    min-height: 120px;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
    height: auto !important;
    font-size: 0.8em;
}